# OS files
.DS_Store

# Environments
.venv/
venv/
node_modules/
dist/
build/
.env
*.env
.env.local

# Python
__pycache__/
*.py[cod]

# Secrets (NEVER COMMIT)
*firebase*.json
firebase-admin-key.json
*.pem

# Project specific
backend_architecture.md
InvoiceSample/
UIImage/
frontend-nextjs-archive/
